<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szip.healthy">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name="debug.MainApplication"
        android:allowBackup="true"
        android:label="@string/healthy_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".Activity.reportInfo.ReportInfoActivity"></activity>
        <activity android:name=".Activity.temp.TempReportActivity" />
        <activity android:name=".Activity.spo.BloodOxygenReportActivity" />
        <activity android:name=".Activity.sleep.SleepReportActivity" />
        <activity android:name=".Activity.heart.HeartReportActivity" />
        <activity android:name=".Activity.bp.BpReportActivity" />
        <activity android:name=".Activity.step.StepReportActivity" />
        <activity android:name=".Activity.card.CardEditActivity" />
        <activity android:name=".Activity.sport.SportListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>