<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szip.user">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK_PROVIDER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <application
        android:name="debug.MainApplication"
        android:allowBackup="true"
        android:label="@string/user_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.help.FaqContentActivity"></activity>
        <activity android:name=".Activity.camera.CameraSetActivity" />
        <activity android:name=".Activity.TargetActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.diy.DIYActivity" />
        <activity android:name=".Activity.dial.DialSelectActivity" />
        <activity android:name=".Activity.help.FaqActivity" />
        <activity android:name=".Activity.help.HelpActivity" />
        <activity android:name=".Activity.PrivacyActivity" />
        <activity android:name=".Activity.SecurityActivity" />
        <activity android:name=".Activity.userInfo.UserInfoActivity" />
        <activity android:name=".Activity.search.DeviceActivity" />
        <activity android:name=".Activity.UserSetActivity" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.UnitSelectActivity" />
        <activity android:name=".Activity.search.DeviceActivity" />


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>