<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szip.login">

    <application>
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity
            android:name=".LoginMainActivity"
            android:theme="@style/DefaultCityPickerTheme"></activity>
        <activity
            android:name=".Register.RegisterActivity"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity
            android:name=".Forget.ForgetPasswordActivity"
            android:theme="@style/DefaultCityPickerTheme" />
    </application>

</manifest>